<div id="foto">
  <p><%= nombre %></p>
  <img src="<%= imagen %>"><br>
  <p>Machu Picchu - PERU</p>
</div>
<div id="video">
  <video controls>
    <source src="<%= video %>" type="video/mp4">
  </video>
</div>
